@import 'semantic-ui-css/semantic.css';
@import "variables";

body {
    background-color: $color-background;
    font-family: "Gill Sans", sans-serif;
}

.Navigation {
    display: flex;
    justify-content: revert;
    background-color: $color-background-dark;

    .NavLink {
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-size: $font-size-normal;
        padding: 0 $padding-m;
        height: 40px;

        &:hover {
            background-color: $color-background-alternative;
        }

        a {
            color: $color-font;
        }
    }

    .Active {
        background-color: $color-background-alternative;
    }
}


/* -------------------- Common Components Styles -------------------- */
.PageHeader {
    font-weight: $font-weight-bold;
    font-size: $font-size-header;

    padding: $padding-m;
    display: flex;
    justify-content: center;
}

.SubHeader {
    font-weight: $font-weight-bold;
    font-size: $font-size-subheader;
    padding: $padding-s 0;

    display: flex;
    justify-content: center;
}

.InfoRow {
    font-size: $font-size-normal;
    padding: $padding-xs $padding-s;

    display: flex;
    justify-content: space-between;
    border-bottom: $border-width-thick solid $border-color;

    .InfoRowTitle {
        font-weight: $font-weight-bold;
    }

    .Female {
        padding: $padding-s;
        background-color: $color-female;
        border-radius: $border-radius-normal;
    }

    .Male {
        padding: $padding-s;
        background-color: $color-male;
        border-radius: $border-radius-normal;

    }

    .CategoriesList {
        .Category {
            padding: $padding-s;
            margin-bottom: $margin-s;
            background-color: $color-category;
            border-radius: $border-radius-normal;
        }
    }

    &:last-child {
        border-bottom: none;
    }
}

.BiSeparatedRow {
    font-size: $font-size-normal;
    padding: $padding-xs $padding-s;

    display: flex;
    border-bottom: 1px solid black;

    .Left {
        width: $width-majority;
    }

    .Right {
        width: $width-minority;
    }

    &:last-child {
        border-bottom: none;
    }
}

.Bold {
    font-weight: $font-weight-bold;
}

.GeneralData {
    margin: $margin-m 0;
}

.FailedStepsList {
    .FailedStep {
        border-radius: $border-radius-normal;
        font-size: $font-size-normal;
        padding: $padding-s;
        margin: $margin-s 0;
        background-color: red;

        .FailedStepName {
            font-weight: $font-weight-bold;
        }

        .FailedStepDate {
            font-size: $font-size-small;
            margin-left: $margin-s;
        }
    }

    .NoFailedSteps {
        text-align: center;
        font-size: $font-size-subheader;
        font-weight: $font-weight-bold;
        font-style: italic;
        display: block;
        margin: $margin-m 0;
    }
}

.CurrentSteps {
    border: 1px solid black;
    border-radius: $border-radius-normal;
    padding: $padding-m;

    .Step {
        border: 1px solid black;
        border-radius: $border-radius-normal;
        padding: $padding-s;
        margin-bottom: $margin-s;

        .StepName {
            font-weight: $font-weight-bold;
        }

        .StepDate {
            font-size: $font-size-small;
            margin-left: $margin-s;
        }

        .StepComment {
            display: flex;
            justify-content: left;
            margin: $margin-m;

            .StepCommentTitle {
                font-weight: $font-weight-bold;
                margin-right: $margin-s;
            }

            .StepCommentValue {

            }
        }

        .StepInput {
            display: flex;
            justify-content: left;
            margin: $margin-m;

            .StepInputName {
                font-weight: $font-weight-bold;
                margin-right: $margin-s;
            }
        }
    }

    .FinishedStep {
        background-color: green;
    }

    .InactiveStep {
        background-color: gray;
    }

    .StepWithButton {
        display: flex;
        justify-content: space-between;
    }
}

.InputItem {                  /* input item */
    display: flex;
    justify-content: space-between;
    padding: $padding-s 0;

    .InputOptionHeader {
        font-weight: $font-weight-bold;
        min-width: 150px;
        margin: 0 $margin-s;
        padding-top: $padding-s;
    }

    .InputOption {
        margin: 0 $margin-s;
        min-width: 450px;

        .TextInput {
            width: 100%;
        }
    }
}

/* -------------------- Patient Card View -------------------- */
.PatientCardContainer {
    width: $width-full;
    display: flex;

    .PatientCardHalf {
        width: $width-half;
        margin: 0 $margin-m;

        .CardBlock {
            background-color: $color-background-alternative;
            padding: 0 $padding-s;
            border: $border-width-normal solid $border-color;
            border-radius: $border-radius-normal;
            margin-bottom: $margin-l;

            .ExpandButton {
                background-color: $color-button;
                width: 20px;
                height: 20px;
                padding: 0;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .Flourography {
            text-align: center;

            .NoFlourographyData {
                font-weight: $font-weight-bold;
                font-size: $font-size-normal;
                font-style: italic;
                padding: $padding-m 0;
                display: block;
            }
        }

        .Vaccinations {
            text-align: center;

            .NoVaccinationsData {
                font-weight: $font-weight-bold;
                font-size: $font-size-normal;
                font-style: italic;
                padding: $padding-m 0;
                display: block;
            }
        }

        .Disability {
            display: flex;
            justify-content: space-between;
            padding: $padding-s;

            .DisabilityText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: $font-size-small;

                .DisabilityName {
                    display: flex;
                    justify-content: space-between;
                    font-weight: $font-weight-bold;

                    .DisabilityDescription {
                        font-style: italic;
                    }
                }
            }

            .DisabilityTable {
                display: flex;
                justify-content: center;

                .DisabilityLevel {
                    font-size: 24px;
                    font-weight: bold;
                    border: $border-width-thick solid $border-color;
                    border-radius: $border-radius-half;
                    padding: $padding-m;
                }

                .ChosenDisability {
                    background-color: gray;
                }
            }
        }

        .Specifics {
            display: flex;
            justify-content: left;
            font-size: $font-size-normal;
            padding: $padding-xs;

            .SpecificName {
                padding: 0 $padding-s;
            }
        }
    }
}

.PatientCardCurrentPlans {
    font-size: $font-size-normal;

    .NoActivePlans {
        display: flex;
        justify-content: center;

        font-weight: 600;
    }

    .AvailablePlan {
        text-align: center;
        padding: $padding-xs $padding-s;

        svg {
            padding-top: 6px;
            color: $border-color;
        }
    }


    .NonAvailablePlan {
        text-align: center;
        opacity: $opacity-light;
        padding: $padding-xs $padding-s;
    }
}

/* -------------------- All patients cards -------------------- */
.AllPatientsCardsPageContainer {
    display: flex;
    padding: $padding-m $padding-m;

    .PatientsList {
        min-width: 300px;

        .PatientSearch {
            display: flex;
            margin-bottom: $margin-s;

            .PatientsSearchInput {
                min-width: 272px;
                margin-left: $margin-s;
            }

            svg {
                height: 40px;
            }
        }

        .PatientBaseCard {
            font-size: $font-size-normal;
            font-weight: bold;
            padding: $padding-xs $padding-xs;

            border: $border-width-normal solid $border-color;
            border-radius: $border-radius-normal;

            margin-bottom: $margin-s;

            &:hover {
                background-color: $border-color;
            }
        }
    }

    .PatientCard {
        width: $width-full;
    }
}

/* -------------------- Create new treatment plan -------------------- */
.NewPlanContainer {
    display: flex;
    justify-content: left;

    .NewPlanSteps {
        width: $width-majority;

        .NewPlanStep {
            padding: $padding-m;
            margin-bottom: $margin-m;
            width: $width-half;
            border: 1px solid black;
            border-radius: $border-radius-normal;

            .NewPlanStepInput {                          /* step input*/
                display: flex;
                justify-content: space-between;
                margin: $margin-m 0;

                .NewPlanStepInputName {
                    font-weight: $font-weight-bold;
                    min-width: 150px;
                    margin: 0 $margin-s;
                    padding-top: $padding-s;
                }

                .NewPlanStepInputOption {
                    margin: 0 $margin-s;
                    min-width: 250px;

                    .TextInput {
                        width: 100%;
                    }
                }
            }
        }

        .AddPlanButton {

        }
    }

    .NewPlanSubheader {
        font-weight: $font-weight-bold;
        font-size: $font-size-subheader;
        padding: $padding-m $padding-m;
        text-align: center;
    }

    .NewPlanInputs {
        border: 1px solid black;
        border-radius: $border-radius-normal;
        padding: $padding-m $padding-s;
        margin: 0  $margin-s;

        .PatientSpecifics {
            font-style: italic;
            font-size: $font-size-normal;

            svg {
                height: 20px;
                width: 20px;
                padding: $padding-xs $padding-xs 0 0;
            }
        }
    }
}

.SaveButton {
    position: fixed;
    left: 1%;
    bottom: 2%;
    width: 200px;
    height: 100px;

    .Button {
        font-weight: bold;
        font-size: $font-size-subheader;
        width: $width-full;
        height: $height-full;
        border-radius: $border-radius-normal;
    }
}

.ModalContainer {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .Modal {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 40%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        border-radius: $border-radius-normal;
        padding: $padding-m;

        .ModalContent {
            .CloseButton {
                display: flex;
            }
        }

        .StepInput {
            display: flex;
            justify-content: left;
            margin: $margin-m;

            .StepInputName {
                font-weight: $font-weight-bold;
                margin-right: $margin-s;
            }

            .DropDown {
                max-width: 300px;
            }
        }
    }
}

/* ------------------- Manage plan by doctor -------------------- */
.ManageTreatmentsPlanViewContainer {
    display: flex;
    margin: $margin-m;

    .AllPlansBaseData {
        .PlansSearch {
            .PlansSearchInput {
                margin-top: $margin-s;
                margin-left: $margin-s;
                min-width: 300px;
            }
        }

        .PlanBaseDataBlock {
            display: block;
            height: 60px;
            border: $border-width-thick solid $border-color;
            border-radius: $border-radius-normal;
            padding: $padding-s;
            margin: $margin-s 0;

            .PatientInitials {
                font-size: $font-size-subheader;
                font-weight: $font-weight-bold;
                display: block;
                margin-bottom: $margin-xs;
            }

            &:hover {
                background-color: $color-background-alternative;
            }
        }
    }

    .PlanDetailedData {
        text-align: center;
        width: $width-majority;

        .Hint {
            margin-top: $margin-xl;

            font-size: $font-size-normal;
            font-style: italic;
            font-weight: $font-weight-bold;
        }

        .PlanDataContainer {
            display: flex;
            justify-content: space-between;
            margin: $margin-m;

            .Left {
                width: $width-minority;
            }

            .Right {
                width: $width-majority;
                margin-left: $margin-m;
                font-size: $font-size-normal;
            }
        }

        .CompletePlanButton {
            position: absolute;
            left: 57%;
            bottom: 20%;
            width: 200px;
            height: 100px;

            .Button {
                font-weight: bold;
                font-size: $font-size-subheader;
                width: $width-full;
                height: $height-full;
                border-radius: $border-radius-normal;
            }
        }
    }
}
