/* --- TEXT VARIABLES --- */
$font-size-header: 32px;
$font-size-subheader: 24px;
$font-size-normal: 18px;
$font-size-small: 14px;

$font-weight-bold: 600;

/* --- COLOR VARIABLES --- */
$color-background: #f0f4fa;
$color-background-dark: #e3eaf3;
$color-background-alternative: #d2d4d9;

$color-button: #7a817d;

$color-font: black;

$color-male: #4646f6;
$color-female: #e156a2;
$color-category: #11a211;

/* --- POSITION VARIABLES --- */
$margin-l: 24px;
$margin-m: 16px;
$margin-s: 8px;
$margin-xs: 4px;

$padding-xl: 32px;
$padding-l: 24px;
$padding-m: 16px;
$padding-s: 8px;
$padding-xs: 4px;

$width-full: 100%;
$width-majority: 70%;
$width-half: 50%;
$width-minority: 30%;

$height-full: 100%;

/* --- OTHER --- */
$opacity-light: 0.33;

$border-radius-half: 5px;
$border-radius-normal: 10px;

$border-width-thick: 1px;
$border-width-normal: 3px;

$border-color: #464d48