/* --- TEXT VARIABLES --- */
$font-size-header: 36px;
$font-size-subheader: 24px;
$font-size-normal: 18px;
$font-size-small: 14px;

$font-weight-bold: 600;

/* --- COLOR VARIABLES --- */

/* --- POSITION VARIABLES --- */
$margin-m: 16px;
$margin-s: 8px;
$margin-xs: 4px;

$padding-m: 16px;
$padding-s: 8px;
$padding-xs: 4px;

$width-full: 100%;
$width-majority: 70%;
$width-half: 50%;
$width-minority: 30%;

$height-full: 100%;

/* --- OTHER --- */
$opacity-light: 0.33;

$border-radius-normal: 10px;